cxf-jaxrs/src/main/java/MyAccountService2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.usermanagement.melbourneit.com" xmlns:tns="http://service.usermanagement.melbourneit.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:ns1="http://client.usermanagement.melbourneit.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.usermanagement.melbourneit.com">
<xsd:complexType name="string2stringMap">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="key" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="value" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getEmails">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="tns:string2stringMap"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getEmailsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:MailSummaryListVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="searchMyAccounts">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="tns:string2stringMap"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="searchMyAccountsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:MyAccountListVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="isMyAccountOptedIn">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="isMyAccountOptedInResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getDomain">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getDomainResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:DomainVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getServicesByDomainName">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="tns:string2stringMap"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getServicesByDomainNameResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ServiceListDataVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateDomainAutoRenewalByDomainList">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:DomainAutoRenewalListVO"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateDomainAutoRenewalByDomainListResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ResponseVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getAlerts">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="tns:string2stringMap"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getAlertsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:AlertListVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateDomainAutoRenewalByMyAccount">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateDomainAutoRenewalByMyAccountResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ResponseVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getInvoices">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="tns:string2stringMap"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="ArrayOfInt">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="int" nillable="true" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getInvoicesResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:InvoiceSummaryListVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getOrder">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="ArrayOfString">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getOrderResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:OrderVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getUserInformation">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getUserInformationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:UserInformationVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getMyAccountSummary">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="string2intMap">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="key" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="value" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getMyAccountSummaryResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:MyAccountSummaryVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getServices">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="tns:string2stringMap"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getServicesResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ServiceListVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getDomains">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="tns:string2stringMap"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getDomainsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:DomainSummaryListVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getService">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getServiceResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ServiceVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getInvoice">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getInvoiceResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:InvoiceVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getEmail">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getEmailResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:MailVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getOrders">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="tns:string2stringMap"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getOrdersResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:OrderSummaryListVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="domainAutoRenewalOptOutByOrder">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="domainAutoRenewalOptOutByOrderResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ResponseVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getMyAccount">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getMyAccountResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:MyAccountVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://client.usermanagement.melbourneit.com">
<xsd:complexType name="MailSummaryListVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="emails" nillable="true" type="ns1:ArrayOfMailSummaryVO"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfMailSummaryVO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="MailSummaryVO" nillable="true" type="ns1:MailSummaryVO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="MailSummaryVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="date" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="fromAddress" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="mailId" type="xsd:int"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="subject" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="toAddress" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="MyAccountListVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="myAccountList" nillable="true" type="ns1:ArrayOfMyAccountVO"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfMyAccountVO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="MyAccountVO" nillable="true" type="ns1:MyAccountVO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="MyAccountVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="address1" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="address2" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="address3" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="channel" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="countryCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="fax" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="firstname" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="lastname" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="login" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="mobile" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="organisation" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="parentMyAccount" nillable="true" type="ns1:MyAccountVO"/>
<xsd:element minOccurs="0" name="partyType" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="password" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="phone" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="postcode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="state" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="suburb" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="type" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DomainVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="autoRenewal" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="contactDetails" nillable="true" type="ns1:ArrayOfContactDetailsVO"/>
<xsd:element minOccurs="0" name="defaultRenewalPeriod" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="dnsRequestStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="expiryDate" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="isPrivateRegSuspended" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="lockStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="nameServers" nillable="true" type="ns1:ArrayOfNameServerVO"/>
<xsd:element minOccurs="0" name="privateRegStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="registrationDate" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="registryKey" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="renewable" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfNameServerVO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="NameServerVO" nillable="true" type="ns1:NameServerVO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="NameServerVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="hostName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="id" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="ipAddress" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfContactDetailsVO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactDetailsVO" nillable="true" type="ns1:ContactDetailsVO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ContactDetailsVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="addressLine1" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="addressLine2" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="addressLine3" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="country" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="familyName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="fax" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="givenName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="orgName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="phone" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="position" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="state" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="suburb" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="title" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="type" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="zipCode" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceListDataVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="services" nillable="true" type="ns1:ArrayOfServiceDataVO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfServiceDataVO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ServiceDataVO" nillable="true" type="ns1:ServiceDataVO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceDataVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="bundled" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="category" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="creationDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="domain" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="expiryDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="keyValues" nillable="true" type="tns:string2stringMap"/>
<xsd:element minOccurs="0" name="owner" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="productName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="serviceId" type="xsd:int"/>
<xsd:element minOccurs="0" name="serviceStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="supplier" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DomainAutoRenewalListVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="domainsAutoRenewals" nillable="true" type="ns1:ArrayOfDomainAutoRenewalVO"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="myAccount" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfDomainAutoRenewalVO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="DomainAutoRenewalVO" nillable="true" type="ns1:DomainAutoRenewalVO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DomainAutoRenewalVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="autoRenewalFlag" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="defaultRenewalPeriod" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="domain" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ResponseVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="AlertListVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="alerts" nillable="true" type="ns1:ArrayOfAlertVO"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfAlertVO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="AlertVO" nillable="true" type="ns1:AlertVO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="AlertVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="alertId" type="xsd:int"/>
<xsd:element minOccurs="0" name="date" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="dismissed" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="title" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="type" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="InvoiceSummaryListVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="invoices" nillable="true" type="ns1:ArrayOfInvoiceSummaryVO"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfInvoiceSummaryVO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="InvoiceSummaryVO" nillable="true" type="ns1:InvoiceSummaryVO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="InvoiceSummaryVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="creationDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="currency" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="discountAmount" type="xsd:long"/>
<xsd:element minOccurs="0" name="invoiceId" type="xsd:int"/>
<xsd:element minOccurs="0" name="invoiceStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="invoiceType" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="netAmount" type="xsd:long"/>
<xsd:element minOccurs="0" name="orderIds" nillable="true" type="tns:ArrayOfInt"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="taxAmount" type="xsd:long"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="OrderVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="creationDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="currency" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="invoiceIds" nillable="true" type="tns:ArrayOfInt"/>
<xsd:element minOccurs="0" name="involvementDomains" nillable="true" type="tns:ArrayOfString"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="netAmount" type="xsd:long"/>
<xsd:element minOccurs="0" name="orderId" type="xsd:int"/>
<xsd:element minOccurs="0" name="packages" nillable="true" type="ns1:ArrayOfPackageVO"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="taxAmount" type="xsd:long"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfPackageVO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="PackageVO" nillable="true" type="ns1:PackageVO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PackageVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="categoryString" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="initialNet" type="xsd:long"/>
<xsd:element minOccurs="0" name="initialTax" type="xsd:long"/>
<xsd:element minOccurs="0" name="items" nillable="true" type="ns1:ArrayOfItemVO"/>
<xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="packageId" type="xsd:int"/>
<xsd:element minOccurs="0" name="periodicNet" type="xsd:long"/>
<xsd:element minOccurs="0" name="periodicTax" type="xsd:long"/>
<xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfItemVO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ItemVO" nillable="true" type="ns1:ItemVO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ItemVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="categoryString" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="domainName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="itemId" type="xsd:int"/>
<xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UserInformationVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="address1" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="address2" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="address3" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="callbackMode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="channel" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="countryCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="fax" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="firstname" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="isPubblichiEnabled" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="lastname" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="login" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="mobile" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="organisation" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="parentMyAccount" nillable="true" type="ns1:MyAccountVO"/>
<xsd:element minOccurs="0" name="partyType" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="password" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="phone" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="postcode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="serviceData" nillable="true" type="tns:string2stringMap"/>
<xsd:element minOccurs="0" name="state" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="suburb" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="type" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="userType" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="MyAccountSummaryVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="creditCardInfo" nillable="true" type="tns:string2stringMap"/>
<xsd:element minOccurs="0" name="invoiceCountByStatus" nillable="true" type="tns:string2intMap"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="orderCountByStatus" nillable="true" type="tns:string2intMap"/>
<xsd:element minOccurs="0" name="packageCountByStatus" nillable="true" type="tns:string2intMap"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="serviceCountByCategory" nillable="true" type="tns:string2intMap"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceListVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="services" nillable="true" type="ns1:ArrayOfServiceVO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfServiceVO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ServiceVO" nillable="true" type="ns1:ServiceVO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="bundled" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="category" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="creationDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="domain" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="expiryDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="keyValues" nillable="true" type="tns:string2stringMap"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="serviceId" type="xsd:int"/>
<xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="supplier" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DomainSummaryListVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="domains" nillable="true" type="ns1:ArrayOfDomainSummaryVO"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfDomainSummaryVO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="DomainSummaryVO" nillable="true" type="ns1:DomainSummaryVO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DomainSummaryVO">
<xsd:complexContent>
<xsd:extension base="ns1:ResponseVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="autoRenewal" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="defaultRenewalPeriod" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="dnsRequestStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="expiryDate" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="isPrivateRegSuspended" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="lockStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="privateRegStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="registryKey" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="renewable" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="InvoiceVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="creationDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="currency" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="discountAmount" type="xsd:long"/>
<xsd:element minOccurs="0" name="eccsId" type="xsd:int"/>
<xsd:element minOccurs="0" name="invoiceId" type="xsd:int"/>
<xsd:element minOccurs="0" name="invoiceStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="invoiceType" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="netAmount" type="xsd:long"/>
<xsd:element minOccurs="0" name="orderIds" nillable="true" type="tns:ArrayOfInt"/>
<xsd:element minOccurs="0" name="packages" nillable="true" type="ns1:ArrayOfPackageVO"/>
<xsd:element minOccurs="0" name="paymentId" type="xsd:int"/>
<xsd:element minOccurs="0" name="paymentMethod" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="paymentStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="taxAmount" type="xsd:long"/>
<xsd:element minOccurs="0" name="trackingId" type="xsd:int"/>
<xsd:element minOccurs="0" name="type" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="MailVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="attachments" nillable="true" type="ns1:ArrayOfAttachmentVO"/>
<xsd:element minOccurs="0" name="ccAddress" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="content" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="date" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="fromAddress" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="mailId" type="xsd:int"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="subject" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="toAddress" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfAttachmentVO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="AttachmentVO" nillable="true" type="ns1:AttachmentVO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="AttachmentVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="attachmentId" type="xsd:int"/>
<xsd:element minOccurs="0" name="content" nillable="true" type="xsd:base64Binary"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="OrderSummaryListVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="orders" nillable="true" type="ns1:ArrayOfOrderSummaryVO"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfOrderSummaryVO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderSummaryVO" nillable="true" type="ns1:OrderSummaryVO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="OrderSummaryVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="creationDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="orderId" type="xsd:int"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getOrdersRequest">
    <wsdl:part name="parameters" element="tns:getOrders"/>
  </wsdl:message>
  <wsdl:message name="isMyAccountOptedInResponse">
    <wsdl:part name="parameters" element="tns:isMyAccountOptedInResponse"/>
  </wsdl:message>
  <wsdl:message name="updateDomainAutoRenewalByMyAccountRequest">
    <wsdl:part name="parameters" element="tns:updateDomainAutoRenewalByMyAccount"/>
  </wsdl:message>
  <wsdl:message name="getMyAccountResponse">
    <wsdl:part name="parameters" element="tns:getMyAccountResponse"/>
  </wsdl:message>
  <wsdl:message name="getDomainResponse">
    <wsdl:part name="parameters" element="tns:getDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="getServicesResponse">
    <wsdl:part name="parameters" element="tns:getServicesResponse"/>
  </wsdl:message>
  <wsdl:message name="domainAutoRenewalOptOutByOrderRequest">
    <wsdl:part name="parameters" element="tns:domainAutoRenewalOptOutByOrder"/>
  </wsdl:message>
  <wsdl:message name="getInvoicesResponse">
    <wsdl:part name="parameters" element="tns:getInvoicesResponse"/>
  </wsdl:message>
  <wsdl:message name="getInvoiceResponse">
    <wsdl:part name="parameters" element="tns:getInvoiceResponse"/>
  </wsdl:message>
  <wsdl:message name="updateDomainAutoRenewalByDomainListResponse">
    <wsdl:part name="parameters" element="tns:updateDomainAutoRenewalByDomainListResponse"/>
  </wsdl:message>
  <wsdl:message name="getEmailsRequest">
    <wsdl:part name="parameters" element="tns:getEmails"/>
  </wsdl:message>
  <wsdl:message name="getOrdersResponse">
    <wsdl:part name="parameters" element="tns:getOrdersResponse"/>
  </wsdl:message>
  <wsdl:message name="searchMyAccountsRequest">
    <wsdl:part name="parameters" element="tns:searchMyAccounts"/>
  </wsdl:message>
  <wsdl:message name="getOrderRequest">
    <wsdl:part name="parameters" element="tns:getOrder"/>
  </wsdl:message>
  <wsdl:message name="getMyAccountSummaryResponse">
    <wsdl:part name="parameters" element="tns:getMyAccountSummaryResponse"/>
  </wsdl:message>
  <wsdl:message name="searchMyAccountsResponse">
    <wsdl:part name="parameters" element="tns:searchMyAccountsResponse"/>
  </wsdl:message>
  <wsdl:message name="getOrderResponse">
    <wsdl:part name="parameters" element="tns:getOrderResponse"/>
  </wsdl:message>
  <wsdl:message name="getAlertsRequest">
    <wsdl:part name="parameters" element="tns:getAlerts"/>
  </wsdl:message>
  <wsdl:message name="getInvoicesRequest">
    <wsdl:part name="parameters" element="tns:getInvoices"/>
  </wsdl:message>
  <wsdl:message name="getServicesByDomainNameRequest">
    <wsdl:part name="parameters" element="tns:getServicesByDomainName"/>
  </wsdl:message>
  <wsdl:message name="getServicesByDomainNameResponse">
    <wsdl:part name="parameters" element="tns:getServicesByDomainNameResponse"/>
  </wsdl:message>
  <wsdl:message name="domainAutoRenewalOptOutByOrderResponse">
    <wsdl:part name="parameters" element="tns:domainAutoRenewalOptOutByOrderResponse"/>
  </wsdl:message>
  <wsdl:message name="getServiceResponse">
    <wsdl:part name="parameters" element="tns:getServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="getMyAccountRequest">
    <wsdl:part name="parameters" element="tns:getMyAccount"/>
  </wsdl:message>
  <wsdl:message name="getDomainRequest">
    <wsdl:part name="parameters" element="tns:getDomain"/>
  </wsdl:message>
  <wsdl:message name="getUserInformationRequest">
    <wsdl:part name="parameters" element="tns:getUserInformation"/>
  </wsdl:message>
  <wsdl:message name="getDomainsRequest">
    <wsdl:part name="parameters" element="tns:getDomains"/>
  </wsdl:message>
  <wsdl:message name="getAlertsResponse">
    <wsdl:part name="parameters" element="tns:getAlertsResponse"/>
  </wsdl:message>
  <wsdl:message name="getServicesRequest">
    <wsdl:part name="parameters" element="tns:getServices"/>
  </wsdl:message>
  <wsdl:message name="getEmailRequest">
    <wsdl:part name="parameters" element="tns:getEmail"/>
  </wsdl:message>
  <wsdl:message name="isMyAccountOptedInRequest">
    <wsdl:part name="parameters" element="tns:isMyAccountOptedIn"/>
  </wsdl:message>
  <wsdl:message name="getInvoiceRequest">
    <wsdl:part name="parameters" element="tns:getInvoice"/>
  </wsdl:message>
  <wsdl:message name="getEmailsResponse">
    <wsdl:part name="parameters" element="tns:getEmailsResponse"/>
  </wsdl:message>
  <wsdl:message name="getDomainsResponse">
    <wsdl:part name="parameters" element="tns:getDomainsResponse"/>
  </wsdl:message>
  <wsdl:message name="updateDomainAutoRenewalByDomainListRequest">
    <wsdl:part name="parameters" element="tns:updateDomainAutoRenewalByDomainList"/>
  </wsdl:message>
  <wsdl:message name="getUserInformationResponse">
    <wsdl:part name="parameters" element="tns:getUserInformationResponse"/>
  </wsdl:message>
  <wsdl:message name="getEmailResponse">
    <wsdl:part name="parameters" element="tns:getEmailResponse"/>
  </wsdl:message>
  <wsdl:message name="getMyAccountSummaryRequest">
    <wsdl:part name="parameters" element="tns:getMyAccountSummary"/>
  </wsdl:message>
  <wsdl:message name="updateDomainAutoRenewalByMyAccountResponse">
    <wsdl:part name="parameters" element="tns:updateDomainAutoRenewalByMyAccountResponse"/>
  </wsdl:message>
  <wsdl:message name="getServiceRequest">
    <wsdl:part name="parameters" element="tns:getService"/>
  </wsdl:message>
  <wsdl:portType name="MyAccountServicePortType">
    <wsdl:operation name="getEmails">
      <wsdl:input name="getEmailsRequest" message="tns:getEmailsRequest"/>
      <wsdl:output name="getEmailsResponse" message="tns:getEmailsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="searchMyAccounts">
      <wsdl:input name="searchMyAccountsRequest" message="tns:searchMyAccountsRequest"/>
      <wsdl:output name="searchMyAccountsResponse" message="tns:searchMyAccountsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="isMyAccountOptedIn">
      <wsdl:input name="isMyAccountOptedInRequest" message="tns:isMyAccountOptedInRequest"/>
      <wsdl:output name="isMyAccountOptedInResponse" message="tns:isMyAccountOptedInResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getDomain">
      <wsdl:input name="getDomainRequest" message="tns:getDomainRequest"/>
      <wsdl:output name="getDomainResponse" message="tns:getDomainResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getServicesByDomainName">
      <wsdl:input name="getServicesByDomainNameRequest" message="tns:getServicesByDomainNameRequest"/>
      <wsdl:output name="getServicesByDomainNameResponse" message="tns:getServicesByDomainNameResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateDomainAutoRenewalByDomainList">
      <wsdl:input name="updateDomainAutoRenewalByDomainListRequest" message="tns:updateDomainAutoRenewalByDomainListRequest"/>
      <wsdl:output name="updateDomainAutoRenewalByDomainListResponse" message="tns:updateDomainAutoRenewalByDomainListResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getAlerts">
      <wsdl:input name="getAlertsRequest" message="tns:getAlertsRequest"/>
      <wsdl:output name="getAlertsResponse" message="tns:getAlertsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateDomainAutoRenewalByMyAccount">
      <wsdl:input name="updateDomainAutoRenewalByMyAccountRequest" message="tns:updateDomainAutoRenewalByMyAccountRequest"/>
      <wsdl:output name="updateDomainAutoRenewalByMyAccountResponse" message="tns:updateDomainAutoRenewalByMyAccountResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getInvoices">
      <wsdl:input name="getInvoicesRequest" message="tns:getInvoicesRequest"/>
      <wsdl:output name="getInvoicesResponse" message="tns:getInvoicesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getOrder">
      <wsdl:input name="getOrderRequest" message="tns:getOrderRequest"/>
      <wsdl:output name="getOrderResponse" message="tns:getOrderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUserInformation">
      <wsdl:input name="getUserInformationRequest" message="tns:getUserInformationRequest"/>
      <wsdl:output name="getUserInformationResponse" message="tns:getUserInformationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getMyAccountSummary">
      <wsdl:input name="getMyAccountSummaryRequest" message="tns:getMyAccountSummaryRequest"/>
      <wsdl:output name="getMyAccountSummaryResponse" message="tns:getMyAccountSummaryResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getServices">
      <wsdl:input name="getServicesRequest" message="tns:getServicesRequest"/>
      <wsdl:output name="getServicesResponse" message="tns:getServicesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getDomains">
      <wsdl:input name="getDomainsRequest" message="tns:getDomainsRequest"/>
      <wsdl:output name="getDomainsResponse" message="tns:getDomainsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getService">
      <wsdl:input name="getServiceRequest" message="tns:getServiceRequest"/>
      <wsdl:output name="getServiceResponse" message="tns:getServiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getInvoice">
      <wsdl:input name="getInvoiceRequest" message="tns:getInvoiceRequest"/>
      <wsdl:output name="getInvoiceResponse" message="tns:getInvoiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getEmail">
      <wsdl:input name="getEmailRequest" message="tns:getEmailRequest"/>
      <wsdl:output name="getEmailResponse" message="tns:getEmailResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getOrders">
      <wsdl:input name="getOrdersRequest" message="tns:getOrdersRequest"/>
      <wsdl:output name="getOrdersResponse" message="tns:getOrdersResponse"/>
    </wsdl:operation>
    <wsdl:operation name="domainAutoRenewalOptOutByOrder">
      <wsdl:input name="domainAutoRenewalOptOutByOrderRequest" message="tns:domainAutoRenewalOptOutByOrderRequest"/>
      <wsdl:output name="domainAutoRenewalOptOutByOrderResponse" message="tns:domainAutoRenewalOptOutByOrderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getMyAccount">
      <wsdl:input name="getMyAccountRequest" message="tns:getMyAccountRequest"/>
      <wsdl:output name="getMyAccountResponse" message="tns:getMyAccountResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyAccountServiceHttpBinding" type="tns:MyAccountServicePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getEmails">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getEmailsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEmailsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchMyAccounts">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="searchMyAccountsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchMyAccountsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isMyAccountOptedIn">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="isMyAccountOptedInRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isMyAccountOptedInResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDomain">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getDomainRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDomainResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServicesByDomainName">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getServicesByDomainNameRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getServicesByDomainNameResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateDomainAutoRenewalByDomainList">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="updateDomainAutoRenewalByDomainListRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateDomainAutoRenewalByDomainListResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlerts">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getAlertsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAlertsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateDomainAutoRenewalByMyAccount">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="updateDomainAutoRenewalByMyAccountRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateDomainAutoRenewalByMyAccountResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvoices">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getInvoicesRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getInvoicesResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrder">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getOrderRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOrderResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserInformation">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getUserInformationRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserInformationResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMyAccountSummary">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getMyAccountSummaryRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMyAccountSummaryResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServices">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getServicesRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getServicesResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDomains">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getDomainsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDomainsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getService">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getServiceRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getServiceResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvoice">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getInvoiceRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getInvoiceResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmail">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getEmailRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEmailResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrders">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getOrdersRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOrdersResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="domainAutoRenewalOptOutByOrder">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="domainAutoRenewalOptOutByOrderRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="domainAutoRenewalOptOutByOrderResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMyAccount">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getMyAccountRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMyAccountResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyAccountService">
    <wsdl:port name="MyAccountServiceHttpPort" binding="tns:MyAccountServiceHttpBinding">
      <wsdlsoap:address location="http://mit-jboss-uat.mmeapi.net:8380/UserManagement/services/MyAccountService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
