cxf-jaxrs/src/main/resources/MyAccountService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.usermanagement.melbourneit.com" xmlns:tns="http://service.usermanagement.melbourneit.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:ns1="http://client.usermanagement.melbourneit.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.usermanagement.melbourneit.com">
<xsd:complexType name="string2stringMap">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="key" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="value" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:element name="isMyAccountOptedIn">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>

<xsd:element name="isMyAccountOptedInResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>

<xsd:element name="getMyAccount">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getMyAccountResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:MyAccountVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://client.usermanagement.melbourneit.com">

<xsd:complexType name="MyAccountVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="address1" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="address2" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="address3" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="channel" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="countryCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="fax" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="firstname" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="lastname" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="login" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="mobile" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="organisation" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="parentMyAccount" nillable="true" type="ns1:MyAccountVO"/>
<xsd:element minOccurs="0" name="partyType" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="password" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="phone" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="postcode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="state" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="suburb" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="type" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>

<xsd:element name="getMyAccountResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:MyAccountVO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>


</xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="getMyAccountRequest">
    <wsdl:part name="parameters" element="tns:getMyAccount"/>
  </wsdl:message>
  
  <wsdl:message name="getMyAccountResponse">
    <wsdl:part name="parameters" element="tns:getMyAccountResponse"/>
  </wsdl:message>
  
  <wsdl:message name="isMyAccountOptedInResponse">
    <wsdl:part name="parameters" element="tns:isMyAccountOptedInResponse"/>
  </wsdl:message>
  
  <wsdl:message name="isMyAccountOptedInRequest">
    <wsdl:part name="parameters" element="tns:isMyAccountOptedIn"/>
  </wsdl:message>
  
  <wsdl:portType name="MyAccountServicePortType">
   
    <wsdl:operation name="isMyAccountOptedIn">
      <wsdl:input name="isMyAccountOptedInRequest" message="tns:isMyAccountOptedInRequest"/>
      <wsdl:output name="isMyAccountOptedInResponse" message="tns:isMyAccountOptedInResponse"/>
    </wsdl:operation>
   
    <wsdl:operation name="getMyAccount">
      <wsdl:input name="getMyAccountRequest" message="tns:getMyAccountRequest"/>
      <wsdl:output name="getMyAccountResponse" message="tns:getMyAccountResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="MyAccountServiceHttpBinding" type="tns:MyAccountServicePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

	<wsdl:operation name="isMyAccountOptedIn">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="isMyAccountOptedInRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isMyAccountOptedInResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
	
    <wsdl:operation name="getMyAccount">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getMyAccountRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMyAccountResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyAccountService">
    <wsdl:port name="MyAccountServiceHttpPort" binding="tns:MyAccountServiceHttpBinding">
      <wsdlsoap:address location="http://mit-jboss-uat.mmeapi.net:8380/UserManagement/services/MyAccountService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
